@model IEnumerable<InventoryManagementSystem.Models.OrdenCompra>

@{
    ViewData["Title"] = "OrdenCompras";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.ProveedorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrdenCompraId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrdenCompraId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrdenCompraId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
